<div class="px-4 py-3 flex flex-col">
    <div class="flex items-center mb-1">
        <img src="../../../assets/svg/user.svg" class="w-8" />
        <div class="ml-2 font-medium text-white">
            @{{tweetInfo[4]}}
        </div>
    </div>
    <div class="text-white">
        {{tweetInfo[1]}}
    </div>
</div>