<!-- start navbar -->
<div
  class="fixed w-full flex p-6" 
  style="background-color: rgb(55, 65, 81); border-bottom: 1px solid rgba(255,255,255,0.3);"
>

  <!-- logo -->
  <div class="flex-none w-56 flex flex-row items-center">
    <img src="../../../assets/img/logo.png" class="w-10 flex-none" style="filter: invert(100%);">
    <strong class="capitalize ml-1 flex-1 text-white">Dashboard</strong>
  </div>
  <!-- end logo -->

  <img src="../../assets/svg/user.svg" class="w-8 ml-auto">

</div>