<div 
  class="px-7"
  style="padding-top: 100px; padding-bottom: 40px; background-color: rgb(17 24 39);"
>

  <h1 class="text-2xl font-medium mb-8 text-white">Contenido de la campaña</h1>
  <h2 class="text-xl mb-2 text-white">Últimos tweets</h2>
  <div class="pt-4 pb-4 rounded-md mb-8" style="background-color: rgb(55, 65, 81);">
    <tweet *ngFor="let tweet of tweets" [tweetInfo]="tweet"></tweet>
  </div>

  <h2 class="text-xl mb-2 text-white">Número de tweets por día</h2>
  <div class="pt-4 pb-4 px-4 w-3/5 m-auto rounded-md mb-8" style="background-color: rgb(55, 65, 81);">
    <line-chart *ngIf="tweetsPerDate.length > 0" [tweetsPerDate]="tweetsPerDate"></line-chart>
  </div>

  <h2 class="text-xl mb-2 text-white">Número de tweets por hora en fecha: {{tweetsPerHourByDate[0][1]}}</h2>
  <div class="pt-4 pb-4 px-4 w-3/5 m-auto rounded-md mb-8" style="background-color: rgb(55, 65, 81);">
    <bar-chart *ngIf="tweetsPerHourByDate.length > 0" [tweetsPerHourByDate]="tweetsPerHourByDate"></bar-chart>
  </div>

</div>